width: 100%;
}

.summary {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.summary div {
    background: white;
    padding: 20px;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 3px 10px #ddd;
}

.summary span {
    display: block;
    color: #777;
    margin-bottom: 8px;
}

.summary b {
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 13px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.receive {
    color: green;
}

.owe {
    color: red;
}

@media (max-width: 600px) {

    .expense {
        flex-direction: column;
    }

    .summary {
        flex-direction: column;
    }

    .container {
        margin: 20px auto;
    }
        }
        
